
<div class="container position-relative">
<a href="/comment" class="mx-3 col-2 newcomment">New Comment</a>
<div class="card-border-dark text-center grid-cell">
    <div class="card text-white bg-dark ">
      <img  src="{{imageUrl}}" class="card-img-top" alt=".img" >
      <h2 class="card-title"><strong>{{title}}</strong></h2>
      <p class="card-text italic d-flex flex-wrap">{{summary}}</p>
    </div>
 </div>
 <h2>Comments:</h2>
{{#each comments as |comment|}}
<div>
  <div class='row border border-1 text-center my-2'>
    <p>{{user.username}}: {{comment.comment}} </p>
  </div>
  </div>
{{/each}}
</div>

